$colorBody: #efefef;

$colorHeader:#ffffff;
$colorMain:#ffffff;
$colorFooter:#ffffff;
$colorAside:#ffffff;

$margin : 4px;
$padding : 8px;

body{
  background-color:$colorBody;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "aside.scss";
